<launch>

    <!-- 摄像头 -->
    <node pkg="usb_cam"
          type="usb_cam_node"
          name="usb_cam"
          output="screen">

        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap" />

    </node>


    <!-- 加载参数 -->
    <rosparam command="load"
              file="$(find your_package_name)/config/straight_right.yaml" />


    <!-- 巡线节点 -->
    <node pkg="your_package_name"
          type="stable_right_follow.py"
          name="stable_right_follow"
          output="screen">
    </node>

</launch>