<launch>
  <arg name="start_camera" default="true" />
  <arg name="start_tts" default="true" />
  <arg name="start_competition_speech" default="true" />
  <arg name="start_viewer" default="true" />
  <arg name="camera_topic" default="/usb_cam/image_raw" />
  <arg name="debug_image_topic" default="/traffic_light_rknn_test/debug_image" />
  <arg name="config_file" default="$(find ucar_2026_traffic_light_rknn_test)/config/traffic_light_rknn_test.yaml" />
  <arg name="model_path" default="$(find yolo)/models/traffic_resnet18_rk3588_int8.rknn" />
  <arg name="model_quantization" default="int8" />
  <arg name="flip" default="true" />
  <arg name="chars_per_second" default="2.0" />
  <arg name="required" default="false" />
  <arg name="enable_speech" default="true" />

  <group if="$(arg start_camera)">
    <include file="$(find usb_cam)/launch/usb_cam-test.launch" />
  </group>

  <group if="$(arg start_tts)">
    <!-- Match the proven task1_task2 voice path.  The legacy speech_command
         package lives in /home/ucar/ucar_ws and must not be added wholesale
         to ROS_PACKAGE_PATH because it contains packages duplicated here. -->
    <node pkg="ucar_2026_competition" type="external_voice_nodes.py"
          name="traffic_light_external_tts" output="screen" required="true">
      <param name="start_asr" value="false" />
      <param name="start_tts" value="true" />
    </node>
  </group>

  <group if="$(arg start_competition_speech)">
    <include file="$(find ucar_2026_competition_speech)/launch/competition_speech.launch">
      <arg name="chars_per_second" value="$(arg chars_per_second)" />
    </include>
  </group>

  <node pkg="ucar_2026_traffic_light_rknn_test"
        type="traffic_light_rknn_test_node.py"
        name="traffic_light_rknn_test_node"
        output="screen"
        required="$(arg required)"
        launch-prefix="bash -c 'sleep 2; exec &quot;$@&quot;' dummy">
    <rosparam command="load" file="$(arg config_file)" />
    <param name="image_topic" value="$(arg camera_topic)" />
    <param name="debug_image_topic" value="$(arg debug_image_topic)" />
    <param name="model_path" value="$(arg model_path)" />
    <param name="model_quantization" value="$(arg model_quantization)" />
    <param name="flip" value="$(arg flip)" />
    <param name="enable_speech" value="$(arg enable_speech)" />
  </node>

  <group if="$(arg start_viewer)">
    <node pkg="image_view" type="image_view" name="traffic_light_rknn_x11_viewer" output="screen"
          launch-prefix="bash -c 'sleep 4; exec &quot;$@&quot;' dummy">
      <remap from="image" to="$(arg debug_image_topic)" />
      <param name="image_transport" value="raw" />
    </node>
  </group>
</launch>
