<launch>
  <arg name="start_camera" default="true" />
  <arg name="start_competition_speech" default="true" />
  <arg name="start_viewer" default="true" />
  <arg name="image_topic" default="/usb_cam/image_raw" />
  <arg name="flip" default="true" />
  <arg name="recognition_mode" default="ppocr_rknn_rec_only" />
  <arg name="inference_rate" default="5.0" />
  <arg name="det_model_path" default="" />
  <arg name="rec_model_path" default="" />
  <arg name="keys_path" default="" />
  <arg name="roi_scale" default="0.80" />
  <arg name="view_scales" default="0.55,0.75,0.95" />
  <arg name="resize_scale" default="1.0" />
  <arg name="rec_resize_mode" default="stretch" />
  <arg name="max_rec_crops" default="3" />
  <arg name="use_global_rec_candidates" default="true" />
  <arg name="global_fallback_crops" default="1" />
  <arg name="box_padding_x" default="0.15" />
  <arg name="box_padding_y" default="0.35" />
  <arg name="small_crop_retry" default="true" />
  <arg name="small_crop_max_height" default="20" />
  <arg name="target_category" default="" />
  <arg name="debug_image_topic" default="/factory_sign_ppocr_rknn_test/debug_image" />
  <arg name="debug_preprocess_topic" default="/factory_sign_ppocr_rknn_test/preprocess_image" />
  <arg name="debug_view" default="debug" />
  <arg name="config_file" default="$(find factory_sign_ppocr_rknn_test)/config/factory_sign_ppocr_rknn.yaml" />
  <arg name="speech_mode" default="service" />
  <arg name="enable_speech" default="true" />
  <arg name="result_topic" default="/factory_sign_ppocr_rknn_test/result" />
  <arg name="required" default="false" />
  <arg name="chars_per_second" default="3.0" />

  <group if="$(arg start_camera)">
    <include file="$(find usb_cam)/launch/usb_cam-test.launch" />
  </group>

  <group if="$(arg start_competition_speech)">
    <include file="$(find ucar_2026_competition_speech)/launch/competition_speech.launch">
      <arg name="chars_per_second" value="$(arg chars_per_second)" />
    </include>
  </group>

  <node pkg="factory_sign_ppocr_rknn_test"
        type="factory_sign_ppocr_rknn_node.py"
        name="factory_sign_ppocr_rknn_node"
        output="screen"
        required="$(arg required)"
        launch-prefix="bash -c 'sleep 2; exec &quot;$@&quot;' dummy">
    <rosparam command="load" file="$(arg config_file)" />
    <param name="image_topic" value="$(arg image_topic)" />
    <param name="flip" value="$(arg flip)" />
    <param name="recognition_mode" value="$(arg recognition_mode)" />
    <param name="inference_rate" value="$(arg inference_rate)" />
    <param name="det_model_path" value="$(arg det_model_path)" />
    <param name="rec_model_path" value="$(arg rec_model_path)" />
    <param name="keys_path" value="$(arg keys_path)" />
    <param name="roi_scale" value="$(arg roi_scale)" />
    <param name="view_scales" value="$(arg view_scales)" />
    <param name="resize_scale" value="$(arg resize_scale)" />
    <param name="rec_resize_mode" value="$(arg rec_resize_mode)" />
    <param name="max_rec_crops" value="$(arg max_rec_crops)" />
    <param name="use_global_rec_candidates" value="$(arg use_global_rec_candidates)" />
    <param name="global_fallback_crops" value="$(arg global_fallback_crops)" />
    <param name="box_padding_x" value="$(arg box_padding_x)" />
    <param name="box_padding_y" value="$(arg box_padding_y)" />
    <param name="small_crop_retry" value="$(arg small_crop_retry)" />
    <param name="small_crop_max_height" value="$(arg small_crop_max_height)" />
    <param name="target_category" value="$(arg target_category)" />
    <param name="debug_image_topic" value="$(arg debug_image_topic)" />
    <param name="debug_preprocess_topic" value="$(arg debug_preprocess_topic)" />
    <param name="speech_mode" value="$(arg speech_mode)" />
    <param name="enable_speech" value="$(arg enable_speech)" />
    <param name="result_topic" value="$(arg result_topic)" />
  </node>

  <group if="$(arg start_viewer)">
    <group if="$(eval arg('debug_view') == 'preprocess')">
      <node pkg="image_view" type="image_view" name="factory_sign_ppocr_rknn_preprocess_viewer" output="screen"
            launch-prefix="bash -c 'sleep 4; exec &quot;$@&quot;' dummy">
        <remap from="image" to="$(arg debug_preprocess_topic)" />
        <param name="image_transport" value="raw" />
      </node>
    </group>
    <group if="$(eval arg('debug_view') == 'camera')">
      <node pkg="image_view" type="image_view" name="factory_sign_ppocr_rknn_camera_viewer" output="screen"
            launch-prefix="bash -c 'sleep 4; exec &quot;$@&quot;' dummy">
        <remap from="image" to="$(arg image_topic)" />
        <param name="image_transport" value="raw" />
      </node>
    </group>
    <group unless="$(eval arg('debug_view') == 'preprocess' or arg('debug_view') == 'camera')">
      <node pkg="image_view" type="image_view" name="factory_sign_ppocr_rknn_debug_viewer" output="screen"
            launch-prefix="bash -c 'sleep 4; exec &quot;$@&quot;' dummy">
        <remap from="image" to="$(arg debug_image_topic)" />
        <param name="image_transport" value="raw" />
      </node>
    </group>
  </group>
</launch>
