<launch>
  <arg name="debug" default="false" />
  <arg name="sim_bridge_host" default="$(optenv SIM_BRIDGE_HOST)" />
  <arg name="sim_bridge_port" default="26003" />
  <arg name="traffic_pose_configured" default="false" />
  <arg name="traffic_x" default="0.0" />
  <arg name="traffic_y" default="0.0" />
  <arg name="traffic_yaw" default="0.0" />
  <arg name="parking_normal_offset" default="0.0" />
  <arg name="parking_tangent_offset" default="0.0" />
  <arg name="trigger_ack_timeout_sec" default="2.0" />

  <include file="$(find ucar_2026_competition)/launch/common_core.launch">
    <arg name="start_nav" value="true" />
    <arg name="start_camera" value="true" />
    <arg name="start_speech" value="true" />
    <arg name="start_llm" value="true" />
    <arg name="start_rviz" value="$(arg debug)" />
  </include>

  <include file="$(find ucar_2026_competition)/launch/flow_node.launch">
    <arg name="start_stage" value="full" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="sim_bridge_host" value="$(arg sim_bridge_host)" />
    <arg name="sim_bridge_port" value="$(arg sim_bridge_port)" />
    <arg name="traffic_pose_configured" value="$(arg traffic_pose_configured)" />
    <arg name="traffic_x" value="$(arg traffic_x)" />
    <arg name="traffic_y" value="$(arg traffic_y)" />
    <arg name="traffic_yaw" value="$(arg traffic_yaw)" />
    <arg name="parking_normal_offset" value="$(arg parking_normal_offset)" />
    <arg name="parking_tangent_offset" value="$(arg parking_tangent_offset)" />
    <arg name="trigger_ack_timeout_sec" value="$(arg trigger_ack_timeout_sec)" />
  </include>
</launch>
