<launch>
  <arg name="debug" default="false" />
  <arg name="start_external_voice" default="true" />
  <arg name="start_nav" default="true" />
  <arg name="start_camera" default="true" />
  <arg name="start_speech" default="true" />
  <arg name="traffic_pose_configured" default="true" />
  <arg name="traffic_x" default="0.3195" />
  <arg name="traffic_y" default="-3.2703" />
  <arg name="traffic_yaw" default="-1.5596" />
  <arg name="traffic_staging_backoff" default="0.35" />
  <arg name="traffic_navigation_timeout_sec" default="120.0" />
  <arg name="stop_line_calibration_file" default="$(env HOME)/.ros/traffic_stop_line_calibration.yaml" />
  <arg name="stop_line_target_front_gap" default="0.06" />
  <arg name="stop_line_total_timeout_sec" default="25.0" />
  <arg name="stop_line_max_search_distance" default="0.60" />
  <arg name="stop_line_search_timeout_sec" default="15.0" />
  <arg name="stop_line_min_width_ratio" default="0.35" />
  <arg name="stop_line_required_hits" default="3" />
  <arg name="stop_line_window_size" default="5" />
  <arg name="stop_line_angle_tolerance_deg" default="3.0" />
  <include file="$(find ucar_2026_competition)/launch/common_core.launch">
    <arg name="start_nav" value="$(arg start_nav)" />
    <arg name="start_camera" value="$(arg start_camera)" />
    <arg name="start_speech" value="$(arg start_speech)" />
    <arg name="start_tts" value="$(arg start_external_voice)" />
    <arg name="start_rviz" value="$(arg debug)" />
  </include>
  <include file="$(find ucar_2026_competition)/launch/flow_node.launch">
    <arg name="start_stage" value="task4" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="traffic_pose_configured" value="$(arg traffic_pose_configured)" />
    <arg name="traffic_x" value="$(arg traffic_x)" />
    <arg name="traffic_y" value="$(arg traffic_y)" />
    <arg name="traffic_yaw" value="$(arg traffic_yaw)" />
    <arg name="traffic_reference_x" value="$(arg traffic_x)" />
    <arg name="traffic_reference_y" value="$(arg traffic_y)" />
    <arg name="traffic_reference_yaw" value="$(arg traffic_yaw)" />
    <arg name="traffic_staging_backoff" value="$(arg traffic_staging_backoff)" />
    <arg name="traffic_navigation_timeout_sec" value="$(arg traffic_navigation_timeout_sec)" />
    <arg name="stop_line_calibration_file" value="$(arg stop_line_calibration_file)" />
    <arg name="stop_line_target_front_gap" value="$(arg stop_line_target_front_gap)" />
    <arg name="stop_line_total_timeout_sec" value="$(arg stop_line_total_timeout_sec)" />
    <arg name="stop_line_max_search_distance" value="$(arg stop_line_max_search_distance)" />
    <arg name="stop_line_search_timeout_sec" value="$(arg stop_line_search_timeout_sec)" />
    <arg name="stop_line_min_width_ratio" value="$(arg stop_line_min_width_ratio)" />
    <arg name="stop_line_required_hits" value="$(arg stop_line_required_hits)" />
    <arg name="stop_line_window_size" value="$(arg stop_line_window_size)" />
    <arg name="stop_line_angle_tolerance_deg" value="$(arg stop_line_angle_tolerance_deg)" />
  </include>
</launch>
